<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recetarioapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/pasta"
        android:label="RECETARIO"
        android:roundIcon="@drawable/pasta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddActivity"></activity>
        <activity android:name=".DataBase.dbConnection"></activity>
        <activity android:name=".ListAllActivity"></activity>
        <activity android:name=".ListOneActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="RECETARIO"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>